<footer class="footer">
	<small>
		<strong><a href="http://www.Bizzhub.ae">Business development Services  </small> </a></strong>
		  by:   <em><a href="http://www.Bizzhub.ae">  Fayyaz ahmad</a></em> 
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
		</ul>
	</nav>
</footer>